* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #006f9d;
  font-family: Helvetica, Arial, sans-serif;
  color: #012881;
}

header {
  padding: 20px 35px;
  background-color: #012881;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h2{
  font-weight: bold;
  font-size: 36px;
  color: #00e6ee;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #ef2155;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 2vw;
}
header nav ul li a:hover {
  background: #00e6ee;
  color: #012881;
  border-radius: 15px;
  text-shadow: none;
}

.hero {
  background-image: url('../src/assets/shutterstock.jpg');
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.aboutme{
  background-color: #00e6ee;
  display: flex;
}

.aboutme div{
  display: inline-flex;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 30px 60px;
  flex-wrap: wrap;
  flex: 70%;
}
.aboutme p{
  font-size: 20px;
  color: #012881;
}

.section-title{
  font-size: 45px;
color: #ef2155;
margin-top: 20px;
display: inline-flex;
flex: 30%;
justify-content: space-around;
}

.img-about{
  width: 300px;
  height: 350px;
  padding: 0.3rem;
  margin-top: 5rem;
}

.one{
  display: flex;
}

.work{
  margin: 40px;
  background: #012881;
  color: #00e6ee;
  flex: 0 0 400px;
  border-radius: 10px;
}

.works{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.work img{
  width: 400px;
  height: 250px; 
  border-radius: 10px;
}

.workname{
  padding: 25px;
}

.works a{
  text-decoration: none;
}

.contact {
  background: #012881;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.contact-form {
  border: 3px solid #024e76;
  background-color: #00e6ee;
  padding: 20px;
  width: 500px;
  margin: 3.5%;
  color: #024e76;
  border-radius: 10px;
}

.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}
.label {
  margin: 0 5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.contact-form button {
  color: #00e6ee;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
}

.contact-form button:hover {
  color: #024e76;
  background-color: #fce138 ;  
}